---
layout: default
title: Tags
---
<h1 id="tag_title"></h1>
<div id="tag_loader">Loading articles ...</div>
{% for post in site.posts %}
<div class="tagged_article" style="display:none;">
  <div style="display:none;">
    {% assign post = page %}{% include tag_links.html %}
  </div>
  <div class="abbreviated_post">
    <h2>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </h2>
    <p class="auth">
      [Posted by Benjamin Kober on {{ post.date | date_to_string }}]
    </p>
  </div>
</div>
{% endfor %}
